@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="row m-0 p-0 fullHeight">
    <div class="col-12">
        <h1 class="text-danger">Error @if (Model.StatusCode != 0) @(Model.StatusCode).</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
    </div>
</div>