@code
{
    Version? currentVersion = System.Reflection.Assembly.GetEntryAssembly()?.GetName()?.Version;
}
<div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">About</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <h4>Visual Traceroute</h4>
    <p>
        A simple program to perform an online traceroute. 
    </p>
    <p>
        Just enter a host name or IP address in the input field to show the trace route from the host to the specified host or IP address.
    </p>
    <p>
        As default host to trace it will be shown your current public IP address. 
    </p>
    <p class="mb-0">
        For more information you can look at:
    </p>
    <ul>
        <li><a href="https://github.com/mdima/traceroute" target="_blank">GitHub</a> for the source code</li>
        <li><a href="https://hub.docker.com/r/michele73/traceroute" target="_blank">Docker Hub</a> for the container repository</li>
    </ul>
    <p class="mt-3">
        Project version: <strong>
        @if (currentVersion != null)
        {
            @string.Format("{0}.{1}.{2}", currentVersion.Major, currentVersion.Minor, currentVersion.Build)
        } else {
            <span>Unknown</span>
        }
        </strong>
    </p>
</div>