html, body {
    min-height: 100vh;
    padding: 0;
}

.fullHeight {
    height: calc(100vh - 95px);
}

.tr-map {
    height: 100%;
}

.highlight {
    animation: highlight 2s;
    z-index: 450!important;
}

ul {
    margin: 0px
}

.lightLink { color: #bcbcbc }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@keyframes highlight {
    0% {
        background: #ffff99;
    }

    100% {
        background: none;
    }
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .mobile-max-50 {
        min-height: 15vh;
    }
    .mobile-max-50 table {
        margin-bottom: 60px !important;
    }
    .mobile-50 {
        min-height: 45vh;
    }
}