@{
ViewData["Title"] = "Visual Trace Route";
}
<div id="map" class="tr-map"></div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Route details</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>IP</th>
                    <th>Trip time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="hop in vm.HostList">
                    <td>{{hop.hopAddress}}</td>
                    <td class="text-end">{{hop.tripTime.toFixed(3)}} ms</td>
                    <td ng-show="hop.details.isp == null">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                    <td ng-show="hop.details.isp != null">
                        Risultati
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a>

        <!-- Generated markup by the plugin -->
        <div class="tooltip bs-tooltip-top" role="tooltip">
            <div class="arrow"></div>
            <div class="tooltip-inner">
                Some tooltip text!
            </div>
        </div>
    </div>
</div>
<div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000" id="ToastError">
    <div class="d-flex">
        <div class="toast-body">
            {{vm.ErrorDescription}}
        </div>
    </div>
</div>
@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=@ViewData["GoogleMapsAPIKey"]&callback=initMap&v=weekly&loading=async"></script>
    <script src="./js/Map.js" type="text/javascript" asp-append-version="true"> </script>
}